.heart {
  position: relative;
  transform: rotate(-45deg);
  transition: filter 0.3s, transform 0.3s;
  margin-top: 1rem;
  filter: drop-shadow(0 2px 6px rgba(192, 155, 194, 0.15));
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
}

.heart::before {
  top: -50%;
  left: 0;
}

.heart::after {
  top: 0;
  left: 50%;
}
