.card-container {
  color: hsl(178, 100%, 50%);

  margin-bottom: 2rem;
}
.card {
  display: flex;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.h1-title {
  font-size: 2rem;
}

.quantity-span {
  color: palevioletred;

  font-size: 2rem;
}
.quantity > h4 {
  display: inline;
}

.price {
  display: flex;
  text-align: center;

  gap: 0.5rem;
}
.price > h3 {
  margin: 0;

  color: palevioletred;

  align-self: center;

  font-size: 2rem;
}

.choices {
  display: flex;
  gap: 1rem;

  color: palevioletred;
}
.choices > div {
  cursor: pointer;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
}

.btn-row {
  display: flex;
  gap: 10rem;
}

.buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid white;
  width: 120px;
  height: 50px;

  cursor: pointer;
}
.buy-btn > h3 {
  font-size: 1.5rem;
}
