.panier-container {
  color: white;

  align-self: flex-start;
  margin-left: 13%;
}
.panier-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
  padding: 0.75rem;

  background-color: #13233b;
  border: 3px solid rgba(139, 172, 218, 0.25);
  border-radius: 10px;

  gap: 1rem;
}

@media (max-width: 900px) {
  .panier-container {
    margin-left: 0;
    width: 100vw;
  }
  .panier-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .panier-container {
    width: 100vw;
    padding: 0 0.5rem;
  }
  .panier-item {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
